<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">La vida en la tierra</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!--Link para la pagina inicial--> 
      <li class="nav-item active">
        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
      </li> 
      <!--Link para ver el glosario-->      
       <li class="nav-item active">
        <a class="nav-link" href="/glosario">Glosario <span class="sr-only">(current)</span></a>
      </li> 
      <!--Link para visualizar el grafo--> 
       <li class="nav-item active">
        <a class="nav-link" href="/grafo">Grafo <span class="sr-only">(current)</span></a>
      </li> 
      <!--Link para el banco de consultas-->
      <li class="nav-item active">
        <a class="nav-link" href="/consultas">Consultas<span class="sr-only">(current)</span></a>
      </li> 
    </ul>
  </div>
</nav>